[[source]]
name = "pypi"
# url = "https://pypi.tuna.tsinghua.edu.cn/simple"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pyquery = "*"
pycryptodome = "*"
pyexecjs = "*"
websockets = "*"

[requires]
python_version = "3.7"
